/*** Generiek ***/

h1, h2, article, section, nav ul {
	padding: 0.5em;
}

body {
	backgound-color: Ivory;
}

h1 {
	margin-bottom: 1em;
	border-radius: 25px;
	text-align: center;
	font-size: 2em;
	color: white;
	background: maroon;
}

h2 {
	font-size: 1.5em;
	color: black;
	text-align: center;
}

nav ul {
    list-style:none;
}

a {
	text-decoration: none;
	color: white;
}

a:hover{
	font-weight: 900;
}

article {
	text-align: center;
	
	/*** Aanvulling Laurens***/
	padding-left: 200px;
	float: left;
}

/*** Specifiek ***/
.menu-item, .button {
	color: white;
	background-color: maroon;
}

.sidebar {
	float: left;
	border-radius: 15px;
	width: 14em;
	background-color: lightgray;
}

.menu-item {
	padding: 0.5em;
	margin-bottom: 0.25em;
	width: 12em;
	font-size: 1em;
	text-align: left;
	text-decoration: ;
}

.button {
	width: 5em;
	height: 2em;
}

#mySnakeCanvas {
	border: thin solid;
}



/*** Aanvulling Laurens***/

.scoreboard { 
display: grid;
grid-template-columns: 1fr 1fr; 
width: 200px;
padding-top: 200px;
padding-left: 30px;
}  

label {
	width: 100px;
	height: 20px;
}


.scoreboard_name,
.scoreboard_score,
.namefield1,
.namefield2,
.namefield3,
.scorefield1,
.scorefield2,
.scorefield3,
.scorefield4,
.score,
button{
	padding: 1px;
	text-align: center;
}  

.scoreboard_name,
.scoreboard_score,
.score,
button {
	color: white;
	border-bottom: 1px solid #ddd;
	background-color: maroon;
}

.namefield1,
.namefield2,
.namefield3,
.scorefield1,
.scorefield2,
.scorefield3,
.scorefield4 {
	color: black;
	background-color: lightgray;
}  

.whitespace {
	background-color: white;
}  

button {
	width: 100px;
	height: 30px;
}