/*** Generiek ***/

h1, h2, article, section, nav ul {
	padding: 0.5em;
}

body {
	backgound-color: Ivory;
}

h1 {
	border-radius: 25px;
	text-align: center;
	font-size: 2em;
	color: white;
	background: maroon;
}

h2 {
	font-size: 1.5em;
	color: black;
	text-align: center;
}

nav ul {
    list-style:none;
}

a {
	text-decoration: none;
	color: white;
}

a:hover{
	font-weight: 900;
}

article {
	text-align: center;
}

/*** Specifiek ***/
.menu-item, .button {
	color: white;
	background-color: maroon;
}

.sidebar {
	float: left;
	border-radius: 15px;
	width: 14em;
	background-color: lightgray;
}

.menu-item {
	padding: 0.5em;
	margin-bottom: 0.25em;
	width: 12em;
	font-size: 1em;
	text-align: left;
	text-decoration: ;
}

.button {
	width: 5em;
	height: 2em;
}

#mySnakeCanvas {
	border: thin solid;
}